/*NORMALIZER*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: inherit;
}
.current {
  position: relative;
  color: var(--background-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--background-color);
  border-radius: 2px;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
/*VARIABLES*/
:root {
  --paragraph-color: rgba(117, 117, 117, 1);
}
:root {
  --text-color: rgba(33, 33, 33, 1);
}
:root {
  --background-color: rgba(33, 150, 243, 1);
}
:root {
  --secondary-text-color: rgba(255, 255, 255, 1);
}
:root {
  --footer-background-color: rgba(47, 48, 58, 1);
}
:root {
  --color-opacity: rgba(0, 0, 0, 0.2);
}
:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
/*FLEXBOX*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-section {
  background-color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgba(236, 236, 236, 1);
}
.home-link {
  font-family: "Raleway", sans-serif;
  display: flex;
  text-decoration: none;
  font-size: 26px;
  color: var(--background-color);
  font-weight: 700;
  line-height: 1.17;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.home-link:hover {
  color: var(--background-color);
}
.link:hover {
  color: var(--background-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.header-navigation {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-list {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-list {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--paragraph-color);
  gap: 10px;
  fill: var(--paragraph-color);
  transition: color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}

.contacts:hover,
.contacts:focus {
  color: var(--background-color);
  fill: var(--background-color);
}
.button-styles {
  font-family: "roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: var(--text-color);
  background-color: rgba(245, 244, 250, 1);
  padding: 10px 32px;
  border: 1px solid rgba(245, 244, 250, 1);
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier);
}
.button-styles:hover,
.button-styles:focus {
  background-color: rgba(33, 150, 243, 1);
  color: var(--secondary-text-color);
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: url(../images/backround.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
  text-align: center;
}
.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-opacity);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--secondary-text-color);
  left: 50%;
  top: 50%;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--cubic-bezier);
}
.form {
  display: flex;
  flex-direction: column;
}
.form-title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.form-label {
  font-size: 12px;
  color: var(--paragraph-color);
}
.form-input {
  position: relative;
  width: 100%;
  padding: 11px 11px 11px 41px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 250ms var(--cubic-bezier);
}
.form-input:focus {
  border-color: var(--background-color);
}
.form-input:focus + .form-icon {
  fill: var(--background-color);
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--text-color);
  transition: fill 250ms var(--cubic-bezier);
}
.check {
  display: flex;
  gap: 8.38px;
}
.form-button-send {
  display: flex;
  justify-content: center;
}
.modal-close {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  top: 8px;
  right: 8px;
}

.title {
  width: 696px;
  font-size: 44px;
  color: var(--secondary-text-color);
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.advantage-icons-rectangle {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}
.benefits {
  font-size: 14px;
  line-height: 1.17;
  height: 130px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
h2 {
  margin-bottom: 55px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.img-container-work {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.services-item {
  position: relative;
}
.desktop-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: -1px;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.movil-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: -1px;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.design-solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: -1px;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.benefits-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
}
.team-member {
  margin-bottom: 10px;
}
.team {
  background-color: rgba(245, 244, 250, 1);
  padding-bottom: 94px;
}
.team-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  list-style: none;
}
.card {
  flex-basis: calc((100% - 45px) / 4);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.footer-card {
  padding: 30px 32px;
  text-align: center;
  gap: 16px;
}
.icon-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 16px;
}
.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--paragraph-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-circle:hover,
.social-icons:hover {
  background-color: var(--background-color);
  fill: var(--secondary-text-color);
}

.benefits-text {
  color: var(--paragraph-color);
  font-weight: 400;
}
.clientes-regulares {
  padding-top: 94px;
  padding-bottom: 94px;
}
.icon-list-regulares {
  display: flex;
  justify-content: space-between;
}
.icon-regulares {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 81px;
  border: 1px solid var(--paragraph-color);
  border-radius: 4px;
  fill: var(--paragraph-color);
}
.icon-regulares:hover,
.icon-regulares:focus {
  border-color: var(--background-color);
  fill: var(--background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-section {
  display: flex;
  background-color: var(--footer-background-color);
  padding: 60px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.addres-contacts {
  color: var(--secondary-text-color);
  gap: 10px;
}
.footer-icon-list {
  display: flex;
  gap: 10px;
}
.p-footer {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-icon-circle {
  background-color: var(--paragraph-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--paragraph-color);
  border-radius: 50px;
}
.footer-icon-circle:hover {
  background-color: var(--background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg {
  fill: var(--secondary-text-color);
}

.footer-form {
  display: flex;
  gap: 12px;
}
.footer-form-title {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  background-color: var(--footer-background-color);
  padding: 15px 15px 15px 16px;
  border: 1px solid var(--secondary-text-color);
  outline: none;
}
.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  gap: 20px;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic-bezier);
}
.send-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*PORTAFOLIO*/
.buttons-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 56px;
}
.images-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
}
.card-portfolio {
  width: 370px;
  height: 404px;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: var(--secondary-text-color);
}
.card-body {
  position: relative;
  overflow: hidden;
}
.card-portfolio:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.emergent-text {
  position: absolute;
  top: 0%;
  height: 294px;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.card-portfolio:hover .emergent-text {
  transform: translateY(0%);
}

.footer-portfolio-card {
  padding: 20px 24px;
}
